*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body{
    background: #1f1f21;
    color:#fff;
    overflow-x: hidden;
}

header{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 32px 15%;
    background: transparent;
    backdrop-filter: blur(1000px);
    box-shadow: -4px 5px 30px #000;
    transition: all ease .45s;
}

.logo{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
}
 
.navlist{
    display: flex;
    align-items: center;
}

.navlist li a{
    font-size:1.1rem ;
    font-weight: 500;
    color:#fff;
    margin:0 25px;
    transition: all ease .50s;

}

.navlist li a:hover{
    color:#ffae00;
}

.navlist li a:active{
    color:#ffae00;
}

.menu-btn{
    background: linear-gradient(130.08deg,#383528 0%,#191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
}

.menu-btn i {
    font-size:20px;
    margin-left: 10px;
    z-index: 6;
}

/* home section */

section{
    padding: 0 15%;
    /* display: none; */
}

.home{
    position: relative;
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:30px;
}

.home-img{
    width: 730px;
    height:730px;
}

.home-img img{
    width:250px;
     position: absolute;
     top:40%;
     right:20%;
     background-color:transparent ;

}

.home-text h4{
    font-weight: 700;
    font-size: 15px;
}

.home-text h1{
    font-size: 40px;
    margin:23px 0px;
}

.home-text h3{
    display: inline-block;
    letter-spacing: 10px;
    border-right: 5px solid #ffae00;
    color:#ffae00;
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 4s steps(19) infinite,cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50%{
        border-color: transparent
    }
}
@keyframes typing{
    from{
        width:0
    }
}
.home-text p{
    font-size: smaller;
    font-weight: 400;
    color:#c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.home-text .main-icons i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color:#ffae00;
    width:45px;
    height:45px;
    background: linear-gradient(130.08deg,#383528 0%,#191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    margin: 0 7px 50px 20px;
    transition: all 0.6s ease-in-out;
}

.home-text .main-icons i:hover{
    color:#fff;
    transform: translateY(-10px);
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background-color: #1f1f21;
    color:#fff;
    border:2px solid #ffae00;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}

.btn:hover{
    transform: translateY(-5px);
    background:transparent;
}

.one{
    background-color: #f4ad13;
    box-shadow: -4px 5px 50px #ffae00;
}

.one:hover{
    background-color: transparent;
    color:#fff;
    cursor: pointer;
}

.two{
    background: #141414;
    border: 2px solid #ffae00;
    color:#fff;
    margin-left: 25px;
    box-shadow: -4px 5px 50px #ffae00;
}
.two:hover{
    background: #ffae00;
    cursor: pointer;
}

/* About */
.about{
    background-color: #1f1f21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100vh;
    gap:50px;
}

.about-img img{
   height:300px;
   align-self: center;
   margin: 0 150px;
   transition: all .6s ease-in-out;
}

.about-text{
    width:50%;
}

.about-text h1{
    font-size: 40px;
    margin:25px 0;
}

.about-text h1 span{
    color:#ffae00;
}

.about-text h1::after{
    content : "";
    height:2px;
    width:0;
    background-color: #ffae00;
    display: block;
    transition: 0.2s linear;
}

.about-text h1:hover::after{
    width:30%;
}

.about-text h4{
    font-size: 15px;
    margin:25px 0;
}

.about-text p {
    line-height: 20px;
    font-weight: 400;
    color:#c3c3c3;
    font-size: smaller;
}

.about-text button{
    margin-top:40px;
    padding: 14px 25px;
    background-color: #1f1f21;
    color:#ffae00;
    border:2px solid #ffae00;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: -4px 5px 50px #ffae00;
    transition: all 0.6s ease-in-out;
}

.about-text button:hover{
    transform: translateY(-7px);
    background:#ffae00;
    color:#fff;
    cursor: pointer;
}

/* skills */

.skills{
    width:100%;
    height:100vh;
    background:#1f1f21;
}

.skills h1{
    text-align: center;
    font-size:40px;
    margin:auto;
    padding: 8% 0 7.5% 0;
    transition: all .6s ease-in-out;
}

.skills h1 span{
    color: #ffae00;
}

.skills h1::after{
    content : "";
    position: relative;
    height:2px;
    width:0;
    background-color: #ffae00;
    display: block;
    transition: 0.2s linear;
}

.skills h1:hover::after{
    width:17%;
    position: absolute;
    left:42%;
}

.skills .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills .first,.skills .second{
    height: 400px;
    width:600px;
    margin-bottom:80px;
    box-shadow: -2px 5px 10px #000;
}

.skills .first h4{
    text-align: center;
    padding:20px;
    font-size: 20px;
}

.skills .first .tech-skills h5{
    padding: 25px 10% 5px 10%;
}

.skills .first .tech-skills h5{
    display:flex;
    justify-content: space-between;
}

.skills .first .tech-skills .bar{
    display: block;
    width:80%;
    height:10px;
    border: 2px solid white;
    margin:auto;
    border-radius: 10px;
    transition:all 0.3s cubic-bezier(.23,.7.23,0.9); 
}

.skills .first .tech-skills .bar:hover{
    box-shadow: 0 24px 28px rgba(0,0,0,0.75),0 10px 10px rgba(0,0,0,0.75);
}

.skills .first .tech-skills .bar span{
    height:7.3px;
    float:left;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px; 
    background: #ffae00;
    overflow: hidden;
}

.js{
    width:50%;
    animation:js 3s;
}

.html{
    width:90%;
    animation:html 3s;
}

.css{
    width:70%;
    animation:css 3s;
}

.python{
    width:50%;
    animation:python 3s;
}

.java{
    width:80%;
    animation:java 3s;
}

@keyframes js{
    0%{
        width:0%;
    }
    100%{
        width:50%;
    }
}

@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}

@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
}

@keyframes python{
    0%{
        width:0%;
    }
    100%{
        width:50%;
    }
}

@keyframes java{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
}

/* skills-second */

.skills .second{
    height: 400px;
    width:600px;
    margin:0 25px 75px 15px;
    box-shadow: -2px 5px 10px #000;
}

.skills .second h4{
    text-align: center;
    padding:20px;
    font-size: 20px;
}

.skills .second .tech-skills h5{
    padding: 25px 10% 5px 10%;
}

.skills .second .tech-skills h5{
    display:flex;
    justify-content: space-between;
}

.skills .second .tech-skills .bar{
    display: block;
    width:80%;
    height:10px;
    border: 2px solid white;
    margin:auto;
    border-radius: 10px;
    transition:all 0.3s cubic-bezier(.23,.7.23,0.9); 
}

.skills .second .tech-skills .bar:hover{
    box-shadow: 0 24px 28px rgba(0,0,0,0.75),0 10px 10px rgba(0,0,0,0.75);
}

.skills .second .tech-skills .bar span{
    height:7.3px;
    float:left;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px; 
    background: #ffae00;
    overflow: hidden;
}

.cmm{
    width:50%;
    animation:communication 3s;
}

.ps{
    width:90%;
    animation:problemsolving 3s;
}

.crea{
    width:70%;
    animation:creativity 3s;
}

.pm{
    width:50%;
    animation:projectmanage 3s;
}

@keyframes communication{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
}

@keyframes problemsolving{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
}

@keyframes creativity{
    0%{
        width:0%;
    }
    100%{
        width:75%;
    }
}

@keyframes projectmanage{
    0%{
        width:0%;
    }
    100%{
        width:65%;
    }
}

  
/* project section */
  .projects {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .projects h1{
    text-align: center;
    font-size:40px ;
    margin:2.75rem auto;
  } 

  .projects h1 span{
    color:#ffae00;
  }

  .projects h1::after{
    content : "";
    position: relative;
    height:2px;
    width:0;
    background-color: #ffae00;
    display: block;
    transition: 0.2s linear;
    
}

.projects h1:hover::after{
    width:16%;
    position: absolute;
    left:42%;
}

  .projects .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }

  .project-card {
    background-color: #1f1f21;
    width:750px;
    height:450px;
    box-shadow: -2px 5px 10px #000;
    padding: 1rem 2rem;
    margin:1.5rem 2rem;
    border-radius: 10px;
  
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
  }
  
  .project-card h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
    text-align: center;
  }
  
  .project-card p {
    margin-top: 0.5rem;
    font-size: 15px;
    font-weight: 400;
    color:#c3c3c3;
    text-align: center;
  }
  
  .project-card button{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: #ffae00;
    color: #fff;
    font-size: 15px;
    border-radius: 25px;
    border: none;
  }  

  .project-card button:hover{
    color:#ffae00;
    background-color:#3b3b3b;
    cursor: pointer;
}

/* contact */
.contact{
    background-color: #1f1f21;
}

.contact h1{
    text-align: center;
    font-size:40px ;
    margin:2.75rem auto;
}

.contact h1 span{
    color:#ffae00;
}

.contact h1::after{
    content : "";
    position: relative;
    height:2px;
    width:0;
    background-color: #ffae00;
    display: block;
    transition: 0.2s linear;
    
}

.contact h1:hover::after{
    width:16%;
    position: absolute;
    left:42%;
}


.contact-form{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 2rem;
}

.contact-form form{
    position: relative;
    width: 500px;
}

form input,form textarea{
    width:100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px #ffae00;
    background: #141414;
    color:#fff;
    margin-bottom: 20px;
    border-radius: 8px;
}

form input::placeholder,
form textarea::placeholder{
    color:#c3c3c3;
    font-size: 15px;
    justify-content: space-between;
    gap:2rem;
}

form .send-btn{
    display: block;
    margin: 10px auto;
    width:30%;
    padding: 14px 25px;
    background-color:#ffae00;
    color:#fff;
    font-size: 15px;
    border-radius: 25px;
    box-shadow: -4px 5px 50px #ffae00;
    transition: all 0.6s ease-in-out;
}

form .send-btn:hover{
    transform: translateY(-5px);
    color:#ffae00;
    background-color:#141414;
    cursor: pointer;
}

.footer{
    padding: 22px 16%;
    background-color:#141414 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
}

.copyright p{
    font-size: 15px;
    font-weight: 400;
    color:#c3c3c3;
}

.scroll-top i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:#3b3b3b;
    width:45px;
    height:45px;
    border-radius: 50%;
    color:#ffae00;
    font-size:27px;
}







































@media (max-width:1850px){
    header{
        padding:15px 8%;
        transition:.2s;
    }
    section{
        padding:0 8%;
        transition: .2s;
    }
    .home-text .main-icons i{
        left:8%;
        transition: .2s;
    }
}

@media (max-width:1370px){
    header{
        padding:15px 4%;
        transition:.2s;
    }
    section{
        padding:0 4%;
        transition: .2s;
    }
    .home-text .main-icons i{
        left:4%;
        transition: .2s;
    }

}

@media(max-width:1020px) {
    .navlist li a{
        margin:0 15px;
    }
}

@media (max-width:950px){
    .home-text .main-icons i{
        display:none;
    }
    section{
        padding:70px 4%;
    }
    header{
        padding:11px 4%;
        background: #2d2d2d;
    }
    .home{
        height:auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text{
        order:2;
    }
    .home-img{
        margin:auto;
        height:auto;
        width:auto;
    }
    .home-img img{
        max-width: 450px;
        width:100%;
        height:auto;
    }
}